.cont{
    background-color: antiquewhite;
}
a{
    display: inline-block; /* Set a tags to display as inline-block */
    text-decoration: none; /* Remove underline from links */
    color: inherit;
}
.anchor:hover{
    border-bottom:2px solid black;
}
.img{
    height:100px;
}